<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <modules>
        <runAllManagedModulesForAllRequests="true" />
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="C:\inetpub\wwwroot\qmzqd.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
